/.RestrictionFrameworkDescriptionLabelProvider.java._trace
/.RestrictionFrameworkDescriptionLabelProvider.xtendbin
/.RestrictionFrameworkLabelProvider.java._trace
/.RestrictionFrameworkLabelProvider.xtendbin
/RestrictionFrameworkDescriptionLabelProvider.java
/RestrictionFrameworkLabelProvider.java
