at.tugraz.xtext.metamodel*/*-gen/*
at.tugraz.xtext.restrictionframework*/*-gen/*
at.tugraz.xtext.metamodel/model/generated/*
at.tugraz.xtext.restrictionframework/model/generated/*
at.tugraz.xtext.restrictionframework.ui/plugin.xml_gen

