/.MetamodelDescriptionLabelProvider.java._trace
/.MetamodelDescriptionLabelProvider.xtendbin
/.MetamodelLabelProvider.java._trace
/.MetamodelLabelProvider.xtendbin
/MetamodelDescriptionLabelProvider.java
/MetamodelLabelProvider.java
